name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest # amd64
          - macos-latest-xlarge # arm64
        product:
          - cockroach
          - cockroach@23.1
          - cockroach@23.2
          - cockroach-sql
          - ccloud
    name: ${{ matrix.product }} formula tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Install ${{ matrix.product }} formula
      run: brew install ./Formula/${{matrix.product }}.rb
    - name: test ${{ matrix.product }} formula
      run: brew test ./Formula/${{ matrix.product }}.rb
